@model IEnumerable<scm.Models.EntItems>

<div class="panel panel-default">
    <p>    </p>
        <span class="itemheader">Low Level Items</span>
    <p>    </p>
    <table class="table table-listing">
        <tr class="pv_tblRow">
            <th>
                Product/Item
            </th>
            <th>
                Current
            </th>
            <th>
                Low Level
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="itemName">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @(item.ItemIn - item.ItemOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowLevel)
                </td>
            </tr>
        }

    </table>
</div>

<br />