body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** User defined **/
.itemRemarks{
    font:normal 12px arial, veranda;
    color:darkgray;
}
.itemName{
    font-weight:600;
}
.tblHeader{
    font:600 12px;
}

.pv_tblRow{
   border-bottom:1px solid white;
}

.pv_tbl{
   border-top:1px solid white;
   border-bottom:1px solid white;
   cellpadding=6;
}

.pv_bg {
   background-color:lightgray;
}

.itemheader {
    font:normal 17px arial, veranda;
    color:Black;
    font-weight:600;
    margin-left:10px;
}

.table-listing{
  	background-color:white;
}

.table-details{
  	background-color:whitesmoke;
}